audioop-lts==0.2.2
av==17.0.1
beautifulsoup4==4.14.3
click==8.4.1
cloup==3.1.0
decorator==5.3.1
glcontext==3.0.0
isosurfaces==0.1.2
manim==0.20.1
ManimPango==0.6.1
mapbox_earcut==2.0.0
markdown-it-py==4.2.0
mdurl==0.1.2
moderngl==5.12.0
moderngl-window==3.1.1
networkx==3.6.1
numpy==2.4.6
opencv-python==4.13.0.92
pillow==12.2.0
pycairo==1.29.0
pydub==0.25.1
pyglet==2.1.14
pyglm==2.8.3
Pygments==2.20.0
rich==15.0.0
scipy==1.17.1
screeninfo==0.8.1
skia-pathops==0.9.2
soupsieve==2.8.4
srt==3.5.3
svgelements==1.9.6
tqdm==4.67.3
typing_extensions==4.15.0
watchdog==6.0.0
anyio==4.12.1
argcomplete==3.6.3
blivet @ file:///builddir/build/BUILD/python-blivet-3.13.2-build/blivet-3.13.2
Brlapi==0.8.7
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.3
cockpit @ file:///builddir/build/BUILD/cockpit-361-build/cockpit-361/tmp/wheel/cockpit-361-py3-none-any.whl#sha256=3ee132fa1d1cfa874c8b161f8f836cf4456d82d7299b66b4a5d2ff93f57c8098
crypt_r==3.13.1
cupshelpers==1.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
distro==1.9.0
dnf==4.24.0
fedora-third-party==0.10
file-magic==0.4.0
h11==0.16.0
html2text==2025.4.15
httpcore==1.0.9
httpx==0.28.1
i3ipc==2.2.1
idna==3.11
iso639==0.1.4
langtable==0.0.70
libcomps==0.1.24
libdnf==0.75.0
libdnf5==5.4.2.0
louis==3.33.0
meson==1.11.1
nftables==0.1
olefile==0.47
packaging==25.0
perf==0.1
pexpect==4.9.0
pid==3.0.4
pillow==12.2.0
productmd==1.50
psutil==7.2.2
ptyprocess==0.7.0
pwquality==1.4.5
PyAudio==0.2.13
pycairo==1.28.0
pycparser==2.22
pycups==2.0.4
pyenchant==3.3.0
PyGObject==3.56.2
pyinotify==0.9.6
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.69-build/pykickstart-3.69
pyparted==3.13.0
PySocks==1.7.1
python-augeas==1.2.0
python-bugzilla==3.3.0
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.4
python-meh==0.52
python-pam==2.0.2
python-xlib==0.33
pyudev==0.24.4
pyxdg==0.28
PyYAML==6.0.3
RapidFuzz==3.14.3
regex==2026.2.28
requests==2.32.5
requests-file==3.0.0
requests-ftp==0.3.1
rpm==6.0.1
selinux @ file:///builddir/build/BUILD/libselinux-3.10-build/libselinux-3.10/src
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.10-build/selinux-3.10/python/sepolicy
setools==4.6.0
simpleline==1.9.0
six==1.17.0
sos==4.11.1
systemd-python==235
tenacity==9.1.4
urllib3==2.6.3
xkbregistry==0.3


